# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/


# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/


# =========================
# Raw dataset
# Do not upload the original medical image dataset to GitHub
# =========================
data/raw/
data/excluded/
data/processed/splits.csv



# =========================
# Trained PyTorch model weights
# These files are usually large
# =========================
outputs/models/
*.pth
*.pt
*.ckpt


# =========================
# Temporary training logs
# =========================
runs/
logs/
wandb/


# =========================
# System files
# =========================
.DS_Store
Thumbs.db


# =========================
# IDE / editor files
# =========================
.vscode/
.idea/


# =========================
# Environment variables
# =========================
.env